$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

// ### Neutral

$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);
$Back-color:hsl(48, 71%, 99%);


// ### Body Copy

$Font-size: 15px;

// ### Font
$font-family: 'Ubuntu', sans-serif;
$regular: 400;
$medium: 700;
$bold: 800;

// - Family: [Inter](https://fonts.google.com/specimen/Inter)

   

